@import "base";

button.ant-btn {
  height: unset;
}

.primary-btn {
  @apply px-2 py-3 border border-solid rounded-none;
  background-color: $primary-color;
  color: $text-white;
  border-color: $primary-color;
  &:active,
  &:focus,
  &:hover {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
    color: $text-white;
  }
}

.ant-btn-block {
  @apply text-base font-medium;
}

.google-button {
  iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    margin: 0 !important;
    #container {
      width: 100%;
      padding: 0 !important;
      display: block;
    }
  }
}
