@import "base";
@import "dashboardcolors";

.dashboard-layout {
  @extend %dashboard-modes;
  @apply min-h-screen;
  & * {
    @apply transition-colors duration-300;
  }
  .sidebar {
    @apply overflow-hidden h-screen z-50 flex-none;
    // to increase the width of the sidebar
    width: 110px !important;
    max-width: 110px !important;
    flex: none !important;
    .brand {
      // to push the logo down a bit
      @apply pt-8;
    }
    .menu {
      @apply py-8 px-0 border-0 bg-transparent;

      .ant-menu-item {
        @apply my-6 mx-0 transition-all duration-300 py-3 h-12  p-4;
        padding: 0 calc(50% - 24px / 2);
        color: $icons-grey;
        a {
          @apply text-inherit;
        }
        svg {
          @apply w-5 transition-all;
        }
        &:hover {
          svg {
            @apply w-6;
          }
        }
        &.divider-space {
          @apply mt-40;
        }
        &::before {
          @apply h-1/2 absolute left-0 top-1/2 -translate-x-2/4 -translate-y-2/4 rounded transition-all duration-300;
          content: "";
          width: 8px;
        }
        &.ant-menu-item-selected {
          @apply font-semibold;
          background-color: transparent;
          color: $primary-color;
          svg {
            @apply w-6;
            filter: drop-shadow(-1px 2px 5px #00000033);
          }
          &::before {
            background-color: $primary-color;
          }
        }
      }
    }
  }
  .page-content-layout {
    @apply transition-all duration-300 grid;
    grid-template-rows: 80px auto;
    .admin-header {
      @apply py-0 pl-4 pr-4 md:pr-8  h-20 flex justify-between items-center  z-10 transition-all duration-300 w-full;
      background-color: transparent;
      color: $primary-color;
      .trigger-container {
        @apply flex justify-start items-center;
        .trigger {
          @apply text-2xl;
        }
        h1 {
          @apply ml-5 text-2xl font-semibold;
        }
      }
      .user-btn {
        @apply flex justify-end items-center cursor-pointer h-12 w-12;
      }
    }

    main.site-layout-background {
      @apply overflow-y-auto;
      // background-color: $layout-bg;
      height: calc(100vh - 80px);
    }
  }
  &.small-screen {
    .sidebar {
      width: 0 !important;
      min-width: 0 !important;
      flex: unset !important;
    }
    .page-content-layout {
      @apply ml-0;
      .admin-header {
        @apply w-full;
      }
    }
    &.collapsed {
      .sidebar {
        width: 80px !important;
        min-width: 80px !important;
      }
    }
  }
}

.user-menu {
  @apply border-r-0;
  .ant-menu-item,
  a {
    @apply flex justify-start items-center m-0;
    &.ant-menu-item-selected {
      @apply bg-transparent;
      color: unset;
    }
    &:hover {
      color: $primary-color;
    }
  }
}
