@import "base";

.form-group {
  @apply mb-5 block;
  .input-label {
    @apply text-base mb-1 block;
    color: $form-label-text;
  }
  .ant-input-affix-wrapper {
    @apply h-14 rounded-none;
    input {
      font-family: "Poppins", sans-serif;
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
      }
    }

    .ant-input-suffix,
    .ant-input-password-icon {
      @apply transition-all text-xl duration-300;
      color: $border-gray;
      &:hover {
        color: $black-translucent;
      }
    }
  }
  .helper-text {
    &.field-error {
      color: $error-red;
    }
  }
}

.customized-select-field {
  @apply flex items-center pl-2 transition-all duration-300 relative h-11 m-3;
  width: 180px;
  .label {
    @apply font-light transition-all duration-300;
    color: $border-gray;
  }
  .ant-select {
    @apply absolute  top-0 left-0 w-full h-full bg-transparent;
    .ant-select-arrow {
      color: $black;
    }
    &.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
      .ant-select-selector {
      @apply h-full bg-transparent pl-16 rounded;
      .ant-select-selection-item {
        line-height: 40px;
      }
    }
    &.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
      .ant-select-selector {
      @apply shadow-none;
      border-color: $primary-color;
    }
    &:not(.ant-select-disabled):hover .ant-select-selector {
      border-color: $primary-color;
    }
  }
}

.date-field.custom {
  .ant-picker {
    @apply rounded p-2 h-11;
    width: 180px;
    &:hover,
    &.ant-picker-focused {
      @apply shadow-none;
      border-color: $primary-color;
    }
  }
}
