.chart-container {
  @apply max-w-full overflow-auto md:m-5;
}
.chart-container canvas {
  width: 100% !important;
  max-height: 400px !important;
}
.chart-container.doughnut {
  @apply m-0;
  max-width: 450px;
}