.card {
  background-color: #fdfdfd;
}

.auth-divider {
  color: #c4c4c4 !important;
}

.auth-divider::after, .auth-divider::before {
  top: unset !important;
}

.auth-divider span.divider-text {
  @apply px-5;
}
