.light.dashboard-layout {
  background: #fdfdfd;
}
.light.dashboard-layout .sidebar {
  transition: all 0.2s, box-shadow 0.2s 0.2s, background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fdfdfd;
  box-shadow: 20px 0 20px #fafafa;
}
.light.dashboard-layout .sidebar .menu .ant-menu-item {
  color: #a3abbd;
}
.light.dashboard-layout .sidebar .menu .ant-menu-item.ant-menu-item-selected {
  color: #0247fe;
}
.light.dashboard-layout .sidebar .menu .ant-menu-item.ant-menu-item-selected::before {
  background-color: #0247fe;
}
.light.dashboard-layout .page-content-layout {
  background: #fdfdfd;
}
.light.dashboard-layout .page-content-layout .admin-header .trigger-container {
  color: #111111;
}
.light.dashboard-layout .page-content-layout .admin-header .header-right-content {
  color: #111111;
}
.light.dashboard-layout .page-content-layout .admin-header .header-right-content .mode-btn {
  color: #111111;
}
.dark.dashboard-layout {
  background: #141414;
}
.dark.dashboard-layout .sidebar {
  transition: all 0.3s, box-shadow 0s, background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #1c1b1b;
}
.dark.dashboard-layout .sidebar .menu .ant-menu-item {
  color: #777777;
}
.dark.dashboard-layout .sidebar .menu .ant-menu-item.ant-menu-item-selected {
  color: #345ecc;
}
.dark.dashboard-layout .sidebar .menu .ant-menu-item.ant-menu-item-selected::before {
  background-color: #345ecc;
}
.dark.dashboard-layout .page-content-layout {
  background: #141414;
}
.dark.dashboard-layout .page-content-layout .admin-header .trigger-container {
  color: #fdfdfd;
}
.dark.dashboard-layout .page-content-layout .admin-header .header-right-content {
  color: #fdfdfd;
}
.dark.dashboard-layout .page-content-layout .admin-header .header-right-content .mode-btn {
  color: #345ecc;
}

.user-menu.dark {
  background-color: #1c1b1b;
}
.user-menu.dark .ant-dropdown-menu-item a {
  color: #fdfdfd;
}
.user-menu.dark .ant-dropdown-menu-item.logout-btn {
  color: #345ecc;
}
.user-menu.dark .ant-dropdown-menu-item:hover {
  background-color: #363434;
}
.user-menu.light {
  background-color: #fdfdfd;
}
.user-menu.light .ant-dropdown-menu-item.logout-btn {
  color: #0247fe;
}
.user-menu.light .ant-dropdown-menu-item:hover {
  background-color: #e4e4e4;
}

.dashboard-layout {
  @apply min-h-screen;
}
.dashboard-layout * {
  @apply transition-colors duration-200;
}
.dashboard-layout .sidebar {
  @apply overflow-hidden h-screen z-50 flex-none;
  width: 110px !important;
  max-width: 110px !important;
  flex: none !important;
}
.dashboard-layout .sidebar .brand {
  @apply pt-8;
}
.dashboard-layout .sidebar .menu {
  @apply py-8 px-0 border-0 bg-transparent;
}
.dashboard-layout .sidebar .menu .ant-menu-item {
  @apply my-6 mx-0 transition-all duration-200 py-3 h-12  p-4;
  padding: 0 calc(50% - 12px);
}
.dashboard-layout .sidebar .menu .ant-menu-item a {
  @apply text-inherit;
}
.dashboard-layout .sidebar .menu .ant-menu-item svg {
  @apply w-5 transition-all;
}
.dashboard-layout .sidebar .menu .ant-menu-item:hover svg {
  @apply w-6;
}
.dashboard-layout .sidebar .menu .ant-menu-item.divider-space {
  @apply mt-40;
}
.dashboard-layout .sidebar .menu .ant-menu-item::before {
  @apply h-1/2 absolute left-0 top-1/2 -translate-x-2/4 -translate-y-2/4 rounded transition-all duration-300;
  content: "";
  width: 8px;
}
.dashboard-layout .sidebar .menu .ant-menu-item.ant-menu-item-selected {
  @apply font-semibold;
  background-color: transparent;
}
.dashboard-layout .sidebar .menu .ant-menu-item.ant-menu-item-selected svg {
  @apply w-6;
  filter: drop-shadow(-1px 2px 5px rgba(0, 0, 0, 0.2));
}
.dashboard-layout .page-content-layout {
  @apply transition-all duration-200 grid;
  grid-template-rows: 80px auto;
}
.dashboard-layout .page-content-layout .admin-header {
  @apply py-0 pl-4 pr-4 md:pr-8  h-20 flex justify-between items-center  z-10 transition-all duration-200 w-full;
  background-color: transparent;
}
.dashboard-layout .page-content-layout .admin-header .trigger-container {
  @apply flex justify-start items-center ml-5;
}
.dashboard-layout .page-content-layout .admin-header .trigger-container .trigger {
  @apply flex justify-start items-center;
  @apply text-2xl;
}
.dashboard-layout .page-content-layout .admin-header .trigger-container .text {
  @apply ml-5 text-lg font-semibold;
}
.dashboard-layout .page-content-layout .admin-header .trigger-container .text span {
  @apply text-2xl;
}
.dashboard-layout .page-content-layout .admin-header .header-right-content {
  @apply flex justify-end items-center;
}
.dashboard-layout .page-content-layout .admin-header .header-right-content .mode-btn {
  @apply text-2xl;
}
.dashboard-layout .page-content-layout .admin-header .header-right-content .user-btn {
  @apply flex justify-center items-center cursor-pointer ml-8;
}
.dashboard-layout .page-content-layout .admin-header .header-right-content .user-btn .ant-avatar {
  @apply flex justify-center items-center;
}
.dashboard-layout .page-content-layout main.site-layout-background {
  @apply overflow-y-auto;
  height: calc(100vh - 80px);
}
.dashboard-layout.small-screen .sidebar {
  width: 0 !important;
  min-width: 0 !important;
  flex: unset !important;
}
.dashboard-layout.small-screen .page-content-layout {
  @apply ml-0;
}
.dashboard-layout.small-screen .page-content-layout .admin-header {
  @apply w-full;
}
.dashboard-layout.small-screen.collapsed .sidebar {
  width: 80px !important;
  min-width: 80px !important;
}

.user-menu {
  @apply border-r-0;
  min-width: 150px;
}
.user-menu .ant-dropdown-menu-item a,
.user-menu .ant-dropdown-menu-item.logout-btn {
  @apply flex justify-start items-center m-0 font-medium;
}
.user-menu .ant-dropdown-menu-item a.ant-menu-item-selected,
.user-menu .ant-dropdown-menu-item.logout-btn.ant-menu-item-selected {
  @apply bg-transparent;
  color: unset;
}