.hero-section {
  @apply px-10 pt-28 md:pt-0;
}

.hero-section .hero-content {
  @apply p-5 md:translate-y-36 relative z-10;
}

.hero-section .hero-content__text {
  @apply flex flex-col justify-center items-center mb-10 mt-5 text-center;
}

.hero-section .hero-content__text h1 {
  @apply text-3xl font-semibold mb-5;
  color: #000;
}

.hero-section .hero-content__text > span {
  @apply max-w-full w-96 block pb-5;
  color: #7a7a7a;
}

.hero-section .hero-content__text a.primary-btn {
  @apply px-10 rounded-2xl;
}

.partners-section {
  @apply p-10 md:pt-36;
  background-color: #fdfdfd;
}

.partners-section .partners-content {
  @apply p-5 text-center;
}

.partners-section .partners-content h4 {
  @apply text-lg uppercase font-bold;
  color: #c4c4c4;
}

.partners-section .partners-content .partners-content__logo-grid {
  @apply flex justify-center items-center flex-wrap;
}

.partners-section .partners-content .partners-content__logo-grid .partner-logo {
  @apply m-10 my-14;
}

.reusable-section-class {
  @apply p-10 py-14;
}

.reusable-section-class .section-content {
  @apply p-5 text-center;
}

.reusable-section-class .section-content header {
  @apply mt-8 mb-24;
}

.reusable-section-class .section-content header h2 {
  @apply text-4xl font-bold mb-4;
  color: #000;
}

.reusable-section-class .section-content header span {
  @apply text-lg font-medium;
  color: #c4c4c4;
}

.features-section {
  background-color: #fdfdfd;
}

.features-section .features-grid {
  @apply flex flex-wrap justify-center items-center;
}

.features-section .features-grid .feature-item {
  @apply grid justify-items-center w-48 m-10;
}

.features-section .features-grid .feature-item svg {
  @apply text-4xl;
  color: #959fff;
}

.features-section .features-grid .feature-item svg path {
  stroke: #959fff;
}

.features-section .features-grid .feature-item .name {
  @apply font-medium text-base capitalize my-5 mt-8;
}

.features-section .features-grid .feature-item .description {
  @apply text-lg;
  color: #c4c4c4;
}
