$primary-color-dark: #002b9e;
$primary-color: #0247fe;
$light-primary-bg: #0046ff1a;
$success-green: #00b528;
$error-red: #b60000;

// neutral
$white: #fff;
$text-white: #fdfdfd;
$border-gray: #c4c4c4;
$form-label-text: #7a7a7a;
$layout-bg: #f6f6f6;
$black: #000;
$black-translucent: #00000080;
