@import "base";

.card {
  background-color: $text-white;
}
.auth-divider {
  color: $border-gray !important;
  &::after,
  &::before {
    top: unset !important;
  }
  span.divider-text {
    @apply px-5;
  }
}
.carousel {
  ul.slick-dots {
    @apply relative;
    li {
      @apply w-2 h-2;
      button {
        @apply h-full;
        background-color: $border-gray;
        border-radius: 12px;
      }
      &.slick-active {
        button {
          background-color: $form-label-text;
        }
      }
    }
  }
}
